__pycache__
/.idea
/.spyproject
/data
.data
.virtual_documents
/beratools/gui/icons/grass
/dist
/output
/packaging

*.slurm
*.out
*.pyc
*.whl
.project
.pydevproject

.env
config.ini

*.egg-info
.pixi
pixi.lock